/build/
.gradle/
.fleet/
out/
*/.kotlin/
.kotlin/
/shared/src/main/resources/rank/
/default.realm.*
/*.realm.management/
/*.management/
/*.bliss
/.DS_Store
.DS_Store
*.lock
*.realm
*.realm.*
*.note
*.log
*build
*/build!/.idea/
!/.idea/
!/.idea/*
/.idea/*
.idea/*
resources/*