name: Build and Release

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  GRADLE_USER_HOME: ${{ github.workspace }}/.gradle

jobs:
  build-jar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Add execute permissions
        run: chmod +x gradlew

      - name: Set up Java (Azul JDK)
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '24.0.2'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper

      - name: Build shadowJar with Gradle
        run: ./gradlew shadowJar

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: shadow-jar
          path: build/libs/*.jar
          retention-days: 5
